a {
    text-align: center;
    margin: auto;
}

section {
    color: white;
    background-color: black;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: fit-content;
}

section img {
    width: 300px;
}

section p {
    text-align: center;
}